/* *{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  overflow-x: hidden;  
}
.panel{
  background: pink;
  height: 100vh;  
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items:center
}
.panel2{background: orange}
.panel3{background:salmon}
.panel-content{
  padding: 2rem;
  border: 1px solid black;
  width:100%;
  
  height: calc(100vh - 2rem*2);
  
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.horizontal-wrapper{
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  height:100vh; 
}

.block{
  width:100%;
  height: 100%;
  border: 1px solid red;
  background:beige;
  display: flex;
  justify-content: center;
  align-items: center
}

.proxy {
  position: absolute;
  visibility: hidden;
}

.horizontal-container {
  width: 300%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  max-width: none;
  }


#page-container {
  overflow: hidden;
}
  
.block {
  width: 100%;
  will-change: transform;
} */




/* TEST2 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 50px;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
}

.wraper{
  overflow-x: hidden;
}

div{
  position: relative;
}

.container{
  /* min-width: 5000px; */
  height: 100vh;
  background-color: #FF6F61;
}

.other{
  width: 100vw;
  height: 500px;
  background-color: #1663c7;
}

.container p{
  /* position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%); */
}

.other p{
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
}