*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  overflow-x: hidden;  
}
.panel{
  background: pink;
  height: 100vh;  
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items:center
}
.panel2{background: orange}
.panel3{background:salmon}
.panel-content{
  padding: 2rem;
  border: 1px solid black;
  width:100%;
  
  height: calc(100vh - 2rem*2);
  
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.horizontal-wrapper{
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  height:100vh; 
}
.block{
  width:100%;
  height: 100%;
  border: 1px solid red;
  background:beige;
  display: flex;
  justify-content: center;
  align-items: center
}

.proxy {
  position: absolute;
  visibility: hidden;
}